@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  margin: 0;
  overflow: auto;
}

.bg-primary {
  background: #FFEBDC;
}

.bg-secondary {
  background: #704642;
}
.bg-gray {
  background: #45505bcc;
}

.bg-line {
  background: #d9b99b;
}

.bg-accent {
  background: #7477FF;
}

.border-primary {
  background: transparent;
  border-color:#d9b99b ;
}

.border-tertiary {
  background: #d9b99b;
  border-color:#d9b99b ;
}
/* .border-primary {
  background: #FFEBDC;
} */

.text-accent {
  color: #704642;
  /* color: #1a1818; */
} 
.text-secondary {
  color: #d9b99b;
  /* color: #1a1818; */
} 
.text-tertiary {
  color: #141215;
  /* color: #1a1818; */
} 
.text-ivory {
  color: #FFFFF0;
  /* color: #1a1818; */
} 
.text-work{
  color: #DAA06D;
}
.nav-font {
  font-family: "Nunito", sans-serif;
}
.shadow-project {
  box-shadow: 0 25px 50px -12px rgba(255, 255, 240, 1);
}
.outline-secondary {
  outline: 2px solid #704642 ;
}